body{
    overflow-x: hidden;
}
#images1{
    display: flex;
    justify-content: space-between;
    border-left:5%;
}
.contactUs{
    background-image:url("../images/backgrounds/c_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    margin-top:2%;
}
#socialMedia{
    margin-top: 2%;
}
#contact{
    text-align: center;
    color:white;
    text-transform: uppercase;
    padding-top:1em;
}
#home{
    background-image:url("../images/backgrounds/h_img.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
}
.homeText{
    text-align: center;
    padding-top: 15%;

}
#delani,#welcome{
    padding-top:1%;
    font-size:40px;
    font-weight: 700;
}
.amazing{
    font-size:10px;
}
.mouseClick{
    text-align: center;
    padding-top:180px;
}
  #aboutUs,.services,#whatWeDo,#port,#content{
     padding-top:2%;
     text-align: center;
  }
 h3{
     font-weight: 800;
 }
 #designContent,#developmentContent,#managementContent{
     display: none;
 }
 .services{
    background-image:url("../images/backgrounds/s_image.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    color: white;
    padding-top:5%;
 }
 #h5{
     font-weight: 600;
 }
 #name,#email{
    background-color: transparent;  
 }
 textarea.form-control{
    background-color: transparent !important;  

 }
 
 .form-control::placeholder{
     color: white;
     opacity: 1;
 }
 